<!doctype html>
<html>
    <head>
    <title>BBIC</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/public/css/BBICadmin1style.css">
  <link rel="shorticon" href="public/picture/logo.ico">
  <script src="/public/delay.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <img src= "<%= image %>" class="fake">
        <div class="name"><%= name%></div>
        <div class="point"><%= point%><span>Point</span></div>
        <div class="message">"<span>미성년자</span>" 입니다.</div>
        <div class="market">EMART 24 디미고점</div>
        <div class="info">생년월일 : <%= year%>년 <%= month%>월 **일<p>결제시간 : <%= hour%>시 <%= minute%>분</p></div>
        <div class="warn">미성년자에게는 술&담배를 판매할 수 없습니다.</div>
        <div class="bottom">고객님의 신원과 사진이 일치하는지 꼭 확인해 주시기 바랍니다.</div>
    </body>
</html>